body{
font-family: "Source Sans Pro", sans-serif;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 120px;
}
.header p{
    display: flex;
    font-size: 30px;
    color: #474747;
    margin: 15px;
    font-style: bold;
    font-weight: 300;
}
.header h1 {
    font-size: 40px;
    font-weight: 100;
}
.header:hover, .header p:hover{
color: #37c0fb;
}

.menu{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 100px;
    background-color: #2e2e2e;
    color: #c0c0c0;
    font-size: 19px;
}
.menu ul li{
    display: inline;
    padding: 25px;
}
.menu ul li:hover{
    color: white;
    cursor: pointer;
    font-style: bold;
}

#space{
    height: 20px;
    background-color: #37c0fb;
}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    align-self: center;
    height: 450px;
    background-image: url("../images/banner.jpg");
    background-size: cover;
}

.background{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100px;
    min-width: 100%;
    color: white;
    background: black;
}
.background h2{
    font-family: 20px;
    font-weight: 300;
}
.background h2 span{
    font-weight: 500;
}
.background h2 a{
    color: #ccc;
}
.background h2 a:hover{
    color: #37c0fb;
    cursor: pointer;
}
.background button{
    color: white;
    background-color: #37c0fb;
    padding: 10px;
    margin: 10px;
    border-radius: 5px; 
    font-weight: 500;
    font-size: 19px;
}